* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex: 1;
}

.left-section {
    flex: 1;
    background-color: #000;
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.logo {
    margin-top: 100px;
    width: 80%;
}

.center-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.video-container video {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
}

.right-section {
    flex: 1;
    padding: 40px;
}

.right-section h2 {
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}

.right-section h2 span {
    font-size: 50px;
    color: #a80000;
    margin-bottom: 20px;
}

.right-section p {
    font-size: 20px;
    margin-bottom: 50px;
}

.contact h3 {
    margin-bottom: 10px;
}

.contact ul {
    list-style-type: none;
}

.contact ul li {
    margin-bottom: 40px;
}

.contact ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.pgp-key {
    background-color: #a80000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.terms-link {
    color: #a80000;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

/* Footer Styling */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    background-color: #111;
    color: #666;
    z-index: 100; /* Ensures it's on top of other content */
}

/* Scrolling Text in the Footer */
.scrolling-text {
    background-color: #111;
    overflow: hidden;
    white-space: nowrap;
    border-top: 1px solid #333; /* Ensure border is at the top of the scrolling text */
}

.scrolling-text span {
    display: inline-block;
    color: #999;
    font-size: 12px;
    padding: 10px 20px;
    margin-right: 100px;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
